#root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: black;
}

.app {
  width: 100%;
  padding: 0 10%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.side-space {
  min-width: 200px;
}

.green-border{
  border: solid 1px greenyellow;
}

.list-frame {
  min-width: 400px;
  max-width: 600px;
  min-height: 600px;
  max-height: 800px;
}

.list-container {
  padding: 20px;
}

ul li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.delete-button {
  float: right;
}

li span {
  width: 100%;
}
ul li {
  overflow-wrap: break-word;
}

ul li.checked span{
  text-decoration: line-through;
}

input {
  margin: 5px 0;
  padding: 4px;
  width: 100%;

  background-color: transparent;
}