@font-face {
  font-family: 'ProggyClean';
  src: url('assets/ProggyCleanNerdFontMono-Regular.ttf') format("truetype");
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 18px;
  font-family: 'ProggyClean';

  color: yellowgreen;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}
